{% if data.read is defined %}
{% set read = data.read %}
<fieldset class="form-wrapper card">
	<div class="fieldset-wrapper">
		{% if read.all is defined %}
		{% set all = read.all %}
		<div class="fieldset-wrapper">
			<p>Rule for all files:</p>
			<fieldset class="form-wrapper card rule-wrapper">
				<div class="fieldset-wrapper">
					{% if all.level is defined %}
					<p>Access level:
						<span class="{{ all.effective_role }} access-level">{{ all.level }}</span>
					</p>
					{% endif %}
					{% if all.users is defined %}
					<p>Users</p>
					<ul class="users">
						{% for user in all.users %}
						<li>{{ user.username }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</fieldset>
		</div>
		{% endif %}
		{% if read.mimes is defined %}
		{% set mimes = read.mimes %}
		<div class="fieldset-wrapper">
			<p>Rule(s) for specific file types:</p>
			{% for mime in mimes %}
			<fieldset class="form-wrapper rule-wrapper">
				<div class="fieldset-wrapper">
					{% if mime.level is defined %}
					<p>Access level:
						<span class="{{ mime.effective_role }} access-level">{{ mime.level }}</span>
					</p>
					{% endif %}
					{% if mime.users is defined %}
					<p>Users:</p>
					<ul class="users">
						{% for user in mime.users %}
						<li>{{ user }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if mime.mimes is defined %}
					<p>Mime types:</p>
					<ul class="mimes">
						{% for mimetype in mime.mimes|sort %}
						<li>{{ mimetype }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</fieldset>
			{% endfor %}
		</div>
		{% endif %}
		{% if read.files is defined %}
		{% set files = read.files %}
		<div class="fieldset-wrapper">
			<p>Rule(s) for specific files:</p>
			{% for file in files %}
			<fieldset class="form-wrapper card rule-wrapper">
				<div class="fieldset-wrapper">
					{% if file.level is defined %}
					<p>Access level:
						<span class="{{ file.effective_role }} access-level">{{ file.level }}</span>
					</p>
					{% endif %}
					{% if file.users is defined %}
					<p>Users:</p>
					<ul class="users">
						{% for user in file.users %}
						<li>{{ user }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if file.ids is defined %}
					<p>Files:</p>
					<ul class="files">
						{% for id in file.ids %}
						<li>{{ id }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endfor %}
					{% endif %}
				</div>
			</fieldset>
		</div>
		{% else %}
		<p>No access rules defined</p>
	</div>
</fieldset>
{% endif %}