{% if data.read is defined %}
	{% set read = data.read %}
	{% if read.all is defined %}
		{% set all = read.all %}
		<fieldset class="form-wrapper card rule-type-wrapper">
			<div class="fieldset-wrapper">
				<h3>Read Access rule for all files:</h3>
				{% if all.level is defined %}
					<p>Access level:
						<span class="{{ all.effective_role }} access-level">{{ all.level }}</span>
					</p>
				{% endif %}
				{% if all.users is defined %}
					<p>Users</p>
					<ul>
						{% for user in all.users %}
							<li class="user">{{ user.username }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</fieldset>
	{% endif %}
	{% if read.types is defined %}
		{% set types = read.types %}
		<fieldset class="form-wrapper card rule-type-wrapper">
			<div class="fieldset-wrapper">
				<h3>Read Access rule(s) for specific file or mime types:</h3>
				{% for type in types %}
					<fieldset class="form-wrapper card rule-wrapper">
						<div class="fieldset-wrapper">
							{% if type.level is defined %}
								<p>Access level:
									<span class="{{ type.effective_role }} access-level">{{ type.level }}</span>
								</p>
							{% endif %}
							{% if type.users is defined %}
								<p>Users:</p>
								<ul>
									{% for user in type.users %}
										<li class="user">{{ user }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if type.filetypes is defined %}
								<p>File types:</p>
								<ul>
									{% for filetype in type.filetypes|sort %}
										<li class="filetype">{{ filetype }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if type.mimetypes is defined %}
								<p>Mime types:</p>
								<ul>
									{% for mimetype in type.mimetypes|sort %}
										<li class="mimetype">{{ mimetype }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</fieldset>
				{% endfor %}
			</div>
		</fieldset>
	{% endif %}
	{% if read.files is defined %}
		{% set files = read.files %}
		<fieldset class="form-wrapper card rule-type-wrapper">
			<div class="fieldset-wrapper">
				<h3>Read Access rule(s) for specific files:</h3>
				{% for file in files %}
					<fieldset class="form-wrapper card rule-wrapper">
						<div class="fieldset-wrapper">
							{% if file.level is defined %}
								<p>Access level:
									<span class="{{ file.effective_role }} access-level">{{ file.level }}</span>
								</p>
							{% endif %}
							{% if file.users is defined %}
								<p>Users:</p>
								<ul>
									{% for user in file.users %}
										<li class="user">{{ user }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if file.ids is defined %}
								<p>Files:</p>
								<ul>
									{% for id in file.ids %}
										<li class="file">{{ id }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</fieldset>
				{% endfor %}
			</div>
		</fieldset>
	{% endif %}

{% else %}
	<p>No read rules defined</p>
{% endif %}

{% if data.write is defined %}
	{% set write = data.write %}
	<fieldset class="form-wrapper card rule-type-wrapper">
		<div class="fieldset-wrapper">
			<h4>Write Access</h4>
			{% if write.users is defined %}
				<p>Users:</p>
				<ul>
					{% for user in write.users %}
						<li class="user">{{ user }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</fieldset>
{% endif %}
