{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{{ attach_library('bootstrap_barrio/breadcrumb') }}
{% if breadcrumb %}
  <nav role="navigation" aria-label="breadcrumb" style="{{breadcrumb_divider}}">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item {{ item.class }}">
          <a href="{{ item.url }}">{{ item.text }}</a>
          {% if item.remove %}
          <sup><a href="{{ item.remove }}" class="remove">x</a></sup>
          {% endif %}
        </li>
      {% else %}
        <li class="breadcrumb-item active {{ item.class }}">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
